@charset "utf-8";
/* CSS Document */

/* CONTENT */
.content{
	height: auto;
	padding: 130px 0 70px 0;
}
#content_title{
	height: 90px;
	font-family: "Century Gothic";
	font-size: 75px;
	padding-bottom: 20px;
	width: 1080px;
	margin: 0 auto;
}
/* table */
.issue_table{
	height: auto;
	border-radius: 6px;
	border: 1px solid #bbb;
	width: 1080px;
	margin: 0 auto;
}
/* header line */
.header_line{
	height: 40px;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	font-family: Verdana;
	background-color: #ddd;
	border-radius: 6px 6px 0 0;
	width: 1080px;
}
.header_line .id{
	float: left;
	height: 40px;
	width: 80px;
	border-right: 1px solid #bbb;
}
.header_line .priority{
	float: left;
	height: 40px;
	width: 149px;
	border-right: 1px solid #bbb;
}
.header_line .assignee{
	float: left;
	height: 40px;
	width: 149px;
	border-right: 1px solid #bbb;
}
.header_line .type{
	float: left;
	height: 40px;
	width: 149px;
	border-right: 1px solid #bbb;
}
.header_line .status{
	float: left;
	height: auto;
	width: 149px;
	border-right: 1px solid #bbb;
}
.header_line .summary{
	float: left;
	height: auto;
	width: 399px;
}
/* issue line */
.issue_line{
	height: 46px;
	text-align: center;
	font-size: 12px;
	line-height: 46px;
	font-family: Verdana;
	width: 1080px;
	border-top: 1px solid #bbb;
}
.issue_line:hover{
	background-color:#FFFFFF;
}
.issue_line .id{
	float: left;
	height: 46px;
	width: 80px;
	border-right: 1px solid #bbb;
	cursor: pointer;
}
.issue_line .id:hover{
	text-decoration:underline;
}
.issue_line:hover #critical{
	background-color: #FF9393;
	color: black;
}
.issue_line:hover #major{
	background-color: #FFB871;
	color: black;
}
.issue_line:hover #important{
	background-color: #FFFF8C;
	color: black;
}
.issue_line:hover #minor{
	background-color: #8CFF8C;
	color: black;
}
.issue_line .priority{
	float: left;
	height: 46px;
	width: 149px;
	border-right: 1px solid #bbb;
}
.priority#critical{
	color: #FF0000;
}
.priority#major{
	color: #AA5500;
}
.priority#important{
	color: #FF8000;
}
.priority#minor{
	color: #008000;
}
.issue_line .assignee{
	float: left;
	height: 46px;
	width: 149px;
	border-right: 1px solid #bbb;
}
.issue_line .type{
	float: left;
	height: 46px;
	width: 149px;
	border-right: 1px solid #bbb;
}
.issue_line .status{
	float: left;
	height: 46px;
	width: 149px;
	border-right: 1px solid #bbb;
}
.issue_line .summary{
	float: left;
	height: 46px;
	width: 379px;
	overflow: hidden;
	line-height: 40px;
	padding: 0 10px;
}

/* ------- */
/* FOOTER */
.footer{
	height: 50px;
	background-color: #FFFFFF;
	position: fixed;
	bottom: 0px;
	z-index: 999;
	width: 100%;
	border-top: 1px solid #ccc;
}
