@charset "utf-8";
/* CONTENT */
.content{
	height: auto;
	padding: 130px 0 70px 0;
}
#content_title{
	height: 90px;
	font-family: "Century Gothic";
	font-size: 75px;
	padding-bottom: 20px;
	width: 1080px;
	margin: 0 auto;
}
/* table */
#table_container{
	height: auto;
	width: 1080px;
	margin: 0 auto;
}
.resolution_table{
	height: auto;
	border-radius: 6px;
	border: 1px solid #bbb;
	width: 395px;
}
/* header line */
.header_line{
	height: 40px;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	font-family: Verdana;
	background-color: #ddd;
	width: 395px;
	border-radius: 6px 6px 0 0;
}
.header_line .name{
	float: left;
	height: 40px;
	width: 395px;
}
/* resolution line */
.resolution_line{
	height: 46px;
	text-align: center;
	font-size: 13px;
	line-height: 46px;
	font-family: Verdana;
	width: 395px;
	border-top: 1px solid #bbb;
}
.resolution_line:hover{
	background-color:#FFFFFF;
}
.resolution_line .name{
	float: left;
	height: 46px;
	width: 395px;
	cursor: pointer;
}
.resolution_line .name:hover{
	text-decoration:underline;
}