@charset "utf-8";
/* CONTENT */
.content{
	height: auto;
	padding: 130px 0 70px 0;
}
.content #content_title{
	height: 90px;
	font-family: "Century Gothic";
	font-size: 75px;
	padding-bottom: 20px;
	width: 1080px;
	margin: 0 auto;
}
/* form */
.content #priority_form{
	font-family: "Century Gothic";
	font-size: 75px;
	width: 1080px;
	margin: 0 auto;
	margin-top: 20px;
}
#priority_form #priority_name{
	height: 40px;
	width: 420px;
	border-radius: 6px;
	border: 1px solid #ccc;
	font-size: 26px;
	line-height: 40px;
	padding: 2px 5px 2px 7px;
	display: block;
	font-family: Verdana;
}
#priority_form #priority_submit{
	height: 40px;
	width: 140px;
	background-color: #FFFFFF;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 26px;
	line-height: 40px;
	display: block;
	font-family: Verdana;
	margin-top: 35px;
	margin-left: 293px;
	color: #639638;
	cursor: pointer;
}
#priority_form #priority_submit:hover{
	background-color: #689E3C;
	border: 1px solid #92C567;
	color: #fff;
}